
{% extends "base.html" %}

{% block content %}
<form method="POST" action="" accept-charset="UTF-8" role="form">
      {{ form.csrf_token }}
      <div>
        Fill the Form To SignUP<br>
        <h3 align='left'>Name</h3><br>
        <p>{{ form.name(size=50, placeholder="Your Name") }} </p>
        <h3>Email Address</h3><br>
        <p>{{ form.email(size=50, placeholder="Your Email Address") }} </p>
        <h3>ID Number</h3><br>
        <p>{{ form.id_no(size=50, placeholder="Your ID Number") }} </p>
        <h3>Password</h3><br>
        <p>{{ form.password(size=50, placeholder="Your Password") }} </p>
        <p>{{ form.submit }}</p>
      </div>
    </form>
{% endblock %}    