{% extends 'base.html' %}
{% block title %}Library_app | User Dashboard{% endblock %}
{% block page_content %}
<div class="container col-md-6">
		<table class="table table-bordered table-condensed">
			<caption>These are the Books Available in the Library</caption>
			<thead>
			<tr>
			 <th class="">Book ID</th>
			 <th class="">Book Name</th>
			 <th class="">Book Description</th>
			 <th class="">Book Category</th>
			 <th>Borrowing</th>
		   </tr>
		   </thead>
		<tbody>
		 {% for rec in books %}
		 <tr class="bg-success">
		 <td class="">{{ rec.id }}</td>
		 <td class="">{{ rec.book_name }}</td>
		 <td class="">{{ rec.book_desc }}</td>
		 <td class="">{{ rec.book_category }}</td>
		 <td><button type="button" class="btn btn-primary">Borrow</td>
	     </tr>
		 {% endfor %}
	 </tbody>
 </table>
 </div>

{% endblock %}
